*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #1990d8;
    background: #1990d8;
    transition: 1s;
}
.blue-btn{
    border: 1px solid #1990d8;
    background: transparent;
    color: #1990d8;
}
.blue-btn:hover{
    color: white;
}
.main{
    width:400px;
    height:700px;
}
.Ticket fieldset{
    text-align: center;
    margin: 20px;
    font-size: 18px;
    padding: 10px;
}
.Ticket fieldset legend{
    background-color: black;
    color: white;
    padding: 8px;
}
.route{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-top: 10px;
    padding-bottom: 30px;
}
.route .fad{
    font-size: 30px;
}
.row{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.row1{
    text-align: left;
}
.row2{
    text-align: right;
}
.Title{
    padding: 20px;
}
.msg{
    padding: 25px;
}