*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height:  100vh;
    width: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(bus1.jpg);
    background-size: cover;
    background-position: relative;
}
.nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #1990d8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;
}
.textbox{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.textbox h1{
    font-size: 62px;
}
.textbox p{
    margin: 10px 0 40px;
    font-size: 30px;
    color: white;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #1990d8;
    background: #1990d8;
    transition: 1s;
}
nav .fas{
    display: none;
}

@media(max-width: 700px){
        .textbox h1{
            font-size: 20px;
        }

        .nav-link ul li{
            display: block;
        }

        .textbox p{
            margin: 10px 0 40px;
            font-size: 15px;
            color: white;
        }

        .nav-link{
            position: fixed;
            background: #1990d8;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            transition: 1s;
        }
        nav .fa-bars{
            display: block;
            color: #fff;
            cursor: pointer;
            text-align: end;
            padding-right: 25px;
        }
        nav .fas{
            display: block;
            color: #fff;
            cursor: pointer;
        }
        .fas{
            display: block;
            color: #fff;
            font-size: 24px;
            cursor: pointer;
        }

        .nav-link ul{
            padding: 30px;
        }

        .row{
            flex-direction: column;
        }
        .cta h1{
            font-size: 24px;
        }
        .detailsReservation{
            overflow-x: auto;
        }
}

/*------- Feature -------*/
.route{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 800;
}
p1{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.rowb{
    margin: 5%;
    display: block;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: #b3e2ff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}
/*------- Destination -------*/
.Routes{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    height: 380px;
}
.campus-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
    background: rgba(39, 187, 255, 0.678);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
/*------- Testimonial -------*/
.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
.test-col{
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #b3e2ff;
    padding: 25px;
    cursor: pointer;
    display: flex;
}
.test-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.test-col p{
    padding: 0;
}
.test-col h4{
    margin-top: 15px;
    text-align: left;
}
.test-col .fas{
    color: #1990d8;
}
.test-col .far{
    color: #1990d8;
}
/*------- CTA -------*/
.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: white;
    margin-bottom: 40px;
    padding: 0;
}
/*------- Feature -------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h5{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: large;
}
/*------- Icons -------*/
.icons .fab{
    color: #1990d8;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}


/*=========== About Us Page ===========*/
.sub-header{
    height: 30vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(bus1.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 20px;
}
.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
}
.about-col img{
    width: 100%;
}
.about-col h1{
    padding-top: 0;
}
.about-col p1{
    padding: 15px 0 25px;
}
.blue-btn{
    border: 1px solid #1990d8;
    background: transparent;
    color: #1990d8;
}
.blue-btn:hover{
    color: white;
}

/*=========== Contact Us Page ===========*/
.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}
.contact-col{
    flex-basis: 48%;
    margin-left: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fas{
    font-size: 28px;
    color: #1990d8;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/*=========== Booking Page ===========*/
.booking{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px;
}
h1{
    font-size: 36px;
    font-weight: 800;
}
p1{
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.bt{
    text-align: center;
    font-size: 25px;
    color: #1990d8;
    font-weight: 600;
}
.Dropdown{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #1990d8;
    color: white;
    font-size: 15px;
    cursor: pointer;
}
.Dt{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    background-color: #1990d8;
    color: white;
    font-size: 15px;
    border: none;
    text-align: center;
}
.Dropdown option{
    position: center;
    margin-right: 30px;
    text-align: center;
}


.detailsReservation{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 20px;
}
.detailsReservation .recentReservation{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 10px;
}
.detailsReservation table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.detailsReservation table thead td{
    font-weight: 700;
}
.detailsReservation .recentReservation table tbody tr:last-child{
    border-bottom: none;
}
.detailsReservation .recentReservation table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detailsReservation .recentReservation table tr td{
    padding: 9px 25px;
    text-align: center;
}
.detailsReservation .recentReservation table tr td .fas{
    color: rgb(230, 38, 38);
    font-size: 20px;
}
.cardHeader h2{
    font-weight: 600;
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: #1990d8;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.cardHeader{
    padding: 30px;
}
/*=========== My Reservation Page ===========*/

.detailsReservation{
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 20px;
}
.detailsReservation .recentReservation{
    position: relative;
    min-height: 530px;
    background: #fff;
    padding: 10px;
}
.detailsReservation table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.detailsReservation table thead td{
    font-weight: 700;
}
.detailsReservation .recentReservation table tbody tr:last-child{
    border-bottom: none;
}
.detailsReservation .recentReservation table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.detailsReservation .recentReservation table tr td{
    padding: 9px 25px;
    text-align: center;
}
.detailsReservation .recentReservation table tr td .fa-trash{
    color: rgb(230, 38, 38);
    font-size: 20px;
}
.detailsReservation .recentReservation table tr td .fa-print{
    color: #009dff;
    font-size: 20px;
}
.cardHeader h2{
    font-weight: 600;
}
.btn{
    position: relative;
    padding: 5px 10px;
    background: #1990d8;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}
.cardHeader{
    padding: 30px;
}